## Deliverable 3. Create a Travel Itinerary Map.

In [13]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [14]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("C:/Users/aboon/Desktop/Bootcamp Work/Module 6_APIs/World_Weather_Analysis/Weather_Database/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Atuona,PF,77.41,light rain,-9.80,-139.03,Villa Enata
1,11,Hilo,US,87.80,broken clouds,19.73,-155.09,Hilo Hawaiian Hotel
2,14,Vung Tau,VN,78.80,broken clouds,10.35,107.08,Seaside Resort
3,22,Puerto Ayora,EC,78.80,scattered clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
4,23,Hithadhoo,MV,82.87,very heavy rain,-0.60,73.08,Scoop Guest House

In [15]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [16]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# hotel marker with names
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
city_name1 = input("Please enter first city name, you can click on merket to get city name: ")

Please enter first city name, you can click on merket to get city name: Jaumave

In [18]:
city_name2 = input("Please enter first city name, you can click on merket to get city name: ")

Please enter first city name, you can click on merket to get city name: San Patricio

In [19]:
city_name3 = input("Please enter first city name, you can click on merket to get city name: ")

Please enter first city name, you can click on merket to get city name: Cabo San Lucas

In [20]:
city_name4 = input("Please enter first city name, you can click on merket to get city name: ")

Please enter first city name, you can click on merket to get city name: Guerrero Negro

In [21]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == city_name1]
vacation_end = vacation_df.loc[vacation_df["City"] == city_name1]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == city_name2]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == city_name3]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == city_name4]

In [22]:
print(f"1:{vacation_start} \n 2:{vacation_stop1} \n 3:{vacation_stop2}\n 4:{vacation_stop3}\n 5:{vacation_end}")

1:    City_ID     City Country  Max Temp Current Description    Lat    Lng  \
45      194  Jaumave      MX      80.6    scattered clouds  23.42 -99.38

       Hotel Name
45  HOTEL CIENEGA
 2:    City_ID          City Country  Max Temp Current Description    Lat    Lng  \
52      207  San Patricio      US      75.0          few clouds  28.02 -97.52

            Hotel Name
52  Motel 6 Sinton, TX
 3:    City_ID            City Country  Max Temp Current Description    Lat  \
97      390  Cabo San Lucas      MX      88.0          few clouds  22.89

       Lng              Hotel Name
97 -109.91  Hotel Tesoro Los Cabos
 4:    City_ID            City Country  Max Temp Current Description    Lat  \
21      105  Guerrero Negro      MX     77.77          light rain  27.98

       Lng                    Hotel Name
21 -114.06  Casa Laguna, Bed & Breakfast
 5:    City_ID     City Country  Max Temp Current Description    Lat    Lng  \
45      194  Jaumave      MX      80.6    scattered clouds  23.42 -99.38

       Hotel Name
45  HOTEL CIENEGA

In [23]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]
stop3 = vacation_stop3["Lat"].values[0], vacation_stop3["Lng"].values[0]

In [25]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
travel_itinerary = gmaps.directions_layer(start, end, 
                                          waypoints=[stop1, stop2, stop3],travel_mode='DRIVING')
fig.add_layer(travel_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,194,Jaumave,MX,80.60,scattered clouds,23.42,-99.38,HOTEL CIENEGA
1,207,San Patricio,US,75.00,few clouds,28.02,-97.52,"Motel 6 Sinton, TX"
2,390,Cabo San Lucas,MX,88.00,few clouds,22.89,-109.91,Hotel Tesoro Los Cabos
3,105,Guerrero Negro,MX,77.77,light rain,27.98,-114.06,"Casa Laguna, Bed & Breakfast"

In [27]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [28]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# hotel marker with names
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))