## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:/Users/aboon/Desktop/Bootcamp Work/Module 6_APIs/World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Phuthaditjhaba,ZA,-28.52,28.82,53.64,78,0,2.55,clear sky
1,1,Atuona,PF,-9.80,-139.03,77.41,76,59,19.55,light rain
2,2,Ponta Do Sol,PT,32.67,-17.10,69.80,73,40,14.99,scattered clouds
3,3,Airai,TL,-8.93,125.41,63.99,61,70,1.99,broken clouds
4,4,Ushuaia,AR,-54.80,-68.30,59.00,51,20,6.93,few clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Atuona,PF,-9.80,-139.03,77.41,76,59,19.55,light rain
11,11,Hilo,US,19.73,-155.09,87.80,55,75,3.36,broken clouds
14,14,Vung Tau,VN,10.35,107.08,78.80,80,76,6.15,broken clouds
22,22,Puerto Ayora,EC,-0.74,-90.35,78.80,65,40,17.22,scattered clouds
23,23,Hithadhoo,MV,-0.60,73.08,82.87,74,100,9.98,very heavy rain
24,24,Kahului,US,20.89,-156.47,89.60,52,40,16.11,scattered clouds
27,27,Vao,NC,-22.67,167.48,75.09,91,100,5.53,light rain
31,31,Vaini,TO,-21.20,-175.20,80.60,78,75,11.41,broken clouds
33,33,Laguna,US,38.42,-121.42,82.99,21,1,1.77,clear sky
42,42,Bourail,NC,-21.57,165.48,82.38,53,100,1.70,overcast clouds

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                191
City                   191
Country                189
Lat                    191
Lng                    191
Max Temp               191
Humidity               191
Cloudiness             191
Wind Speed             191
Current Description    191
dtype: int64

In [17]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                189
City                   189
Country                189
Lat                    189
Lng                    189
Max Temp               189
Humidity               189
Cloudiness             189
Wind Speed             189
Current Description    189
dtype: int64

In [16]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Atuona,PF,77.41,light rain,-9.80,-139.03,
11,Hilo,US,87.80,broken clouds,19.73,-155.09,
14,Vung Tau,VN,78.80,broken clouds,10.35,107.08,
22,Puerto Ayora,EC,78.80,scattered clouds,-0.74,-90.35,
23,Hithadhoo,MV,82.87,very heavy rain,-0.60,73.08,
24,Kahului,US,89.60,scattered clouds,20.89,-156.47,
27,Vao,NC,75.09,light rain,-22.67,167.48,
31,Vaini,TO,80.60,broken clouds,-21.20,-175.20,
33,Laguna,US,82.99,clear sky,38.42,-121.42,
42,Bourail,NC,82.38,overcast clouds,-21.57,165.48,

In [30]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print(f"Hotel not found... skipping., index:{index}")

Hotel not found... skipping., index:95
Hotel not found... skipping., index:117
Hotel not found... skipping., index:134
Hotel not found... skipping., index:146
Hotel not found... skipping., index:160
Hotel not found... skipping., index:234
Hotel not found... skipping., index:319
Hotel not found... skipping., index:327
Hotel not found... skipping., index:341
Hotel not found... skipping., index:433
Hotel not found... skipping., index:492
Hotel not found... skipping., index:500
Hotel not found... skipping., index:527
Hotel not found... skipping., index:568
Hotel not found... skipping., index:569
Hotel not found... skipping., index:571
Hotel not found... skipping., index:586
Hotel not found... skipping., index:596
Hotel not found... skipping., index:605
Hotel not found... skipping., index:615
Hotel not found... skipping., index:639

In [34]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Atuona,PF,77.41,light rain,-9.80,-139.03,Villa Enata
11,Hilo,US,87.80,broken clouds,19.73,-155.09,Hilo Hawaiian Hotel
14,Vung Tau,VN,78.80,broken clouds,10.35,107.08,Seaside Resort
22,Puerto Ayora,EC,78.80,scattered clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
23,Hithadhoo,MV,82.87,very heavy rain,-0.60,73.08,Scoop Guest House
24,Kahului,US,89.60,scattered clouds,20.89,-156.47,Maui Seaside Hotel
27,Vao,NC,75.09,light rain,-22.67,167.48,Hotel Kou-Bugny
31,Vaini,TO,80.60,broken clouds,-21.20,-175.20,Keleti Beach Resort
33,Laguna,US,82.99,clear sky,38.42,-121.42,Holiday Inn Express & Suites Elk Grove Central...
42,Bourail,NC,82.38,overcast clouds,-21.57,165.48,Nekweta

In [36]:
# 8a. Create the output File (CSV)
output_data_file = "C:/Users/aboon/Desktop/Bootcamp Work/Module 6_APIs/World_Weather_Analysis/Weather_Database/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [37]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [38]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# hotel marker with names
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))